<div class="modal-ov" id="modalOv" [class.on]="global.currentModalId !== null" (click)="close()">
  <div class="modal-box" id="modalBox" *ngIf="product" (click)="$event.stopPropagation()">
    <button class="modal-close-btn" (click)="close()"><i class="fa-solid fa-xmark"></i></button>
    <div class="modal-inner">
      <div class="modal-imgs">
        <div class="modal-main-img" id="modalMainImg">
          <img [src]="currentImg" [alt]="product.name" id="modalMainImgEl">
        </div>
        <div class="modal-thumbs" id="modalThumbs" *ngIf="images.length > 1">
          <div class="mthumb" *ngFor="let img of images; let i = index" 
               [class.on]="i === currentImgIndex" 
               (click)="switchImg(img, i)">
            <img [src]="img" [alt]="product.name + ' ' + (i+1)" loading="lazy">
          </div>
        </div>
      </div>
      <div class="modal-info">
        <p class="modal-info-code"><i class="fa-solid fa-barcode"></i><span id="mCode">{{ product.id }}</span></p>
        <span class="modal-info-badge" id="mBadge" *ngIf="product.badge" [class.sale]="product.badge === 'Sale'" [class.premium]="product.badge === 'Premium'">{{ product.badge }}</span>
        <h2 class="modal-info-name" id="mName">{{ product.name }}</h2>
        <p class="modal-info-cat" id="mCat">
          <i class="fa-solid" [class]="catIcon"></i> {{ catLabel }}
        </p>
        <div class="modal-divider"></div>
        <p class="modal-info-desc" id="mDesc">{{ description }}</p>
        <div class="modal-info-features" id="mFeatures">
          <div class="modal-feat-row" *ngFor="let f of features">
            <i class="fa-solid fa-circle-check"></i>{{ f }}
          </div>
        </div>
        <div class="modal-divider"></div>
        <div class="modal-price-row">
          <span class="modal-old-price" id="mOldPrice" *ngIf="product.oldPrice">{{ global.fmt(product.oldPrice) }}</span>
          <span class="modal-price" id="mPrice">{{ global.fmt(product.price) }}</span>
        </div>
        <div class="modal-actions">
          <button class="modal-btn-cart" id="mBtnCart" (click)="addToCart()">
            <i class="fa-solid fa-bag-shopping"></i> Adicionar ao Carrinho
          </button>
          <button class="modal-btn-wish" id="mBtnWish" [class.wishlisted]="global.isWishlisted(product.id)" (click)="toggleWish()">
            <i class="fa-heart" [class.fa-regular]="!global.isWishlisted(product.id)" [class.fa-solid]="global.isWishlisted(product.id)" id="mWishIco"></i>
            <span id="mBtnWishTxt">{{ global.isWishlisted(product.id) ? 'Remover dos Favoritos' : 'Guardar nos Favoritos' }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
