<div class="card" (click)="onSelect.emit(product)">
  <div class="card-img">
    <img [src]="product.images[0]" [alt]="product.name" loading="lazy">
    <span class="card-badge" *ngIf="product.badge">{{ product.badge }}</span>
    <button class="card-wish" [class.active]="isWishlisted(product.id)" (click)="toggleWishlist(product, $event)" title="Favoritos">
      <i class="fa-heart" [class.fa-regular]="!isWishlisted(product.id)" [class.fa-solid]="isWishlisted(product.id)"></i>
    </button>
  </div>
  <div class="card-body">
    <p class="card-code"><i class="fa-solid fa-barcode"></i> {{ product.code }}</p>
    <h3 class="card-name">{{ product.name }}</h3>
    <div class="card-price">
      <span class="current">{{ product.price | number:'1.0-0' }} Kz</span>
      <span class="old" *ngIf="product.oldPrice">{{ product.oldPrice | number:'1.0-0' }} Kz</span>
    </div>
    <div class="card-actions">
      <button class="card-btn cart" (click)="addToCart(product, $event)">
        <i class="fa-solid fa-bag-shopping"></i> Carrinho
      </button>
      <button class="card-btn wish" (click)="toggleWishlist(product, $event)">
        <i class="fa-heart" [class.fa-regular]="!isWishlisted(product.id)" [class.fa-solid]="isWishlisted(product.id)"></i>
      </button>
    </div>
  </div>
</div>
