<article
  class="pcard rv vis"
  (click)="openDetails()"
  role="link"
  tabindex="0"
  (keydown.enter)="openDetails()"
>
  <a
    class="pimg"
    [routerLink]="['/loja/produto', product.id]"
    aria-label="Ver detalhes do produto"
    ><img [src]="product.img" [alt]="product.name" loading="lazy" /><span
      *ngIf="product.badge"
      class="pbadge"
      [class]="badgeClass(product.badge)"
      >{{ product.badge }}</span
    ></a
  >
  <div class="pinfo">
    <p class="pcode">{{ product.id }}</p>
    <p class="pname">{{ product.name }}</p>
    <p class="pcat">{{ store.categoryLabel(product.cat) }}</p>
    <div class="pfooter">
      <div class="pprice">
        <span class="old" *ngIf="product.oldPrice">{{
          store.formatPrice(product.oldPrice)
        }}</span
        >{{ store.formatPrice(product.price) }}
      </div>
      <button class="btn-add" (click)="$event.stopPropagation(); add()">
        @if (store.addedToCart() === product.id) {
          <i class="fa-solid fa-circle-check"></i> Adicionado
        } @else {
          <i class="fa-solid fa-bag-shopping"></i> Adicionar
        }
      </button>
    </div>
  </div>
</article>
