<div class="features rv">
  <div class="feat">
    <div class="feat-ico"><i class="fa-solid fa-truck-fast"></i></div>
    <div>
      <p class="feat-lbl">Entrega Rápida</p>
      <p class="feat-dsc">Luanda e arredores</p>
    </div>
  </div>
  <div class="feat">
    <div class="feat-ico"><i class="fa-solid fa-shield-halved"></i></div>
    <div>
      <p class="feat-lbl">Qualidade Garantida</p>
      <p class="feat-dsc">Produtos seleccionados</p>
    </div>
  </div>
  <div class="feat">
    <div class="feat-ico"><i class="fa-solid fa-rotate-left"></i></div>
    <div>
      <p class="feat-lbl">Troca Fácil</p>
      <p class="feat-dsc">Até 7 dias após compra</p>
    </div>
  </div>
  <div class="feat">
    <div class="feat-ico"><i class="fa-brands fa-whatsapp"></i></div>
    <div>
      <p class="feat-lbl">Suporte WhatsApp</p>
      <p class="feat-dsc">Resposta em minutos</p>
    </div>
  </div>
</div>
