<footer id="footer">
  <div class="footer-g">
    <div class="foot-brand rv vis">
      <img
        src="assets/images/logo.jpeg"
        alt="logo"
        class="foot-logo-img"
      /><span class="logo-txt">BRAVO<em>BUSINESS</em></span>
      <p>
        A tua loja de referência em Luanda para moda, calçados e acessórios
        premium. Estilo é uma atitude, e a Bravo Business veste essa atitude
        contigo.
      </p>
      <div class="foot-socials">
        <a
          href="https://wa.me/244957103656"
          target="_blank"
          class="soc wa"
          title="WhatsApp"
          ><i class="fa-brands fa-whatsapp"></i></a
        ><a
          href="https://www.instagram.com/bravobusiness30"
          target="_blank"
          class="soc ig"
          title="Instagram"
          ><i class="fa-brands fa-instagram"></i></a
        ><a
          href="https://www.tiktok.com/@brav0.business"
          target="_blank"
          class="soc tt"
          title="TikTok"
          ><i class="fa-brands fa-tiktok"></i></a
        ><a
          href="https://www.facebook.com/profile.php?id=61587544407696"
          target="_blank"
          class="soc fb"
          title="Facebook"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
      </div>
    </div>
    <div class="foot-col rv vis">
      <h4>Navegação</h4>
      <ul>
        <li>
          <a routerLink="/loja"><i class="fa-solid fa-house"></i>Início</a>
        </li>
        <li>
          <a routerLink="/loja/produtos"
            ><i class="fa-solid fa-box"></i>Produtos</a
          >
        </li>
        <li>
          <a routerLink="/loja/roupas"
            ><i class="fa-solid fa-shirt"></i>Roupas</a
          >
        </li>
        <li>
          <a routerLink="/loja/calcados"
            ><i class="fa-solid fa-shoe-prints"></i>Calçados</a
          >
        </li>
        <li>
          <a routerLink="/loja/acessorios"
            ><i class="fa-solid fa-gem"></i>Acessórios</a
          >
        </li>
      </ul>
    </div>
    <div class="foot-col rv vis">
      <h4>Informações</h4>
      <ul>
        <li>
          <a routerLink="/sobre"
            ><i class="fa-solid fa-circle-info"></i>Sobre Nós</a
          >
        </li>
        <li>
          <a routerLink="/trocas"
            ><i class="fa-solid fa-rotate-left"></i>Política de Trocas</a
          >
        </li>
        <li>
          <a routerLink="/privacidade"
            ><i class="fa-solid fa-lock"></i>Privacidade</a
          >
        </li>
        <li>
          <a routerLink="/termos"
            ><i class="fa-solid fa-file-lines"></i>Termos & Condições</a
          >
        </li>
      </ul>
    </div>
    <div class="foot-col rv vis">
      <h4>Contacto</h4>
      <ul>
        <li>
          <a href="https://wa.me/244957103656" target="_blank"
            ><i class="fa-brands fa-whatsapp"></i>+244 957 10 36 56</a
          >
        </li>
        <li>
          <a routerLink="/contactos"
            ><i class="fa-solid fa-envelope"></i>Fale connosco</a
          >
        </li>
      </ul>
      <div class="foot-loc">
        <div class="loc-ico"><i class="fa-solid fa-location-dot"></i></div>
        <p>Bairro Militar<br />Talatona<br />Luanda, Angola</p>
      </div>
    </div>
  </div>
  <div class="foot-bot">
    <p>© 2026 Bravo Business. Todos os direitos reservados.</p>
    <p>Feito por INS Inovações, em Luanda, Angola</p>
  </div>
</footer>
